# Carpetas generadas por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/
# Archivos de Visual Studio / Rider
.vs/
.idea/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
# Archivos de sistema operativo
.DS_Store
Thumbs.db
# Archivos de Unity específicos
*.apk
*.unitypackage
*.app
# Crashlytics
crashlytics-build.properties